# IDES specific (eclipse) #
.metadata/
RemoteSystemsTempFiles/
*/.project
*/.classpath
*/.settings/
copyrightLog.txt

# Binaries #
*/bin
*/build

# Compiled classes #
*.class

# Packages #
*.jar

# Other #
*.swp
*.html

# ssoFilters project
ssoFilters/
