# IDES specific (eclipse) #
.metadata/
RemoteSystemsTempFiles/
WlsAttributeNameMapper/.project
WlsAttributeNameMapper/.classpath
WlsAttributeNameMapper/.settings/

# Binaries #
WlsAttributeNameMapper/bin

# Compiled classes #
*.class

# Packages #
*.jar
