# IDES specific (eclipse) #
.metadata/
RemoteSystemsTempFiles/
WlsAttributeNameMapper/.project
WlsAttributeNameMapper/.classpath
WlsAttributeNameMapper/.settings/
copyrightLog.txt

# Binaries #
WlsAttributeNameMapper/bin
WlsAttributeNameMapper/build

# Compiled classes #
*.class

# Packages #
*.jar


